{% extends 'base.html.twig' %}

{% block title %}ГЛАВНАЯ{% endblock %}

{% block style %} <link href="{{ asset('css/def.css') }}" rel="stylesheet">{% endblock %}
{% block body %}
<main>
    <div class="center">
        <h1>hello world</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis inventore illo vitae nostrum at, nulla quos tempora libero recusandae provident consectetur commodi aliquam repudiandae laborum similique. Ullam libero molestias et.</p>
    </div>
</main>
{% endblock %}
