<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Заголовок вкладки{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {% block head_javascripts %}{% endblock %}



    <link href="{{ asset('css/basic.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block style %}{% endblock %}
</head>
<body >

    <header id="header" >
        <div class="header">
            <a href="/">
              <p class="logo material-icons">coffee</p>  
            </a>
            <nav class="navlist">
                <a href="/">ГЛАВНАЯ СТРАНИЦА</a>
                <a href="/items">КАТАЛОГ</a>
                <a href="/article">СТАТЬИ</a>
                <a href="/account">ЛИЧНЫЙ КАБИНЕТ</a>
            </nav>
        </div>
    </header>

{% block body %}{% endblock %}
    <script src="{{ asset('js/basic.js') }}"></script>
    <footer>
        <small>
            <a href="#" target="_blank"><span class="material-icons">place</span>адерс</a>
            <div>
                <a href="#" target="_blank"><span class="material-icons">circle</span></a>
                <a href="https://www.facebook.com/" target="_blank"><span class="material-icons">facebook</span></a>
                <a href="#"><span class="material-icons" target="_blank">circle</span></a>
            </div>
        </small>
    </footer>

{% block body_javascripts %}{% endblock %}

</body>
</html>

